<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- Copied from ImportData projet's App.config file at 2014.01.09-->
    <add key="SolutionName" value="Exin" />
    <add key="ResourcesRelativePath" value="" />
    <add key="UnitResources" value="Units.xml" />
    <add key="CategoryResources" value="Categories.xml" />
    <!--End Copied-->
    
    <add key="RootDir" value="c:\Norbi\Development\Exin\Solution\UnitTests\TestRepository" />
    
    <!-- Copied from WPF project's App.config file at 2014.01.02 -->
    <!--<add key="RootDir" value="c:\Norbi\Txt\Naplózások\Kiadások" />--> <!--changed from c:\ to d:\-->
    <add key="FileExtension" value="xml" />
    <add key="MonthlyExpensesFileName" value="Összesen" />
    <add key="MonthlyIncomesFileName" value="Bevételek" />
    <add key="MonthlyExpenseSummariesDir" value="0_Összesen" />
    <add key="MonthlyExpenseStatisticsDir" value="0_Összesen - Kategóriák" />
    <!-- End Copied -->

    <!-- Copied from WPF project's App.config file at 2014.01.11, but modified later -->
    <!--<add key="ReadMode" value="FromFile" />-->
    <add key="ReadMode" value="FromDb" />
    <!-- End Copied -->

    <!-- Copied from WPF project's App.config file at 2014.01.14 -->
    <add key="DbAccessMode" value="AdoNet" />
    <!--<add key="DbAccessMode" value="EntityFramework" />-->
    <!-- End Copied -->

    <!-- Copied from WPF project's App.config file at 2014.01.30 -->
    <!--<add key="SaveMode" value="OnlyToFile" />-->
    <add key="SaveMode" value="FileAndDb" />
    <!-- End Copied -->

    <!-- Copied from WPF project's App.config file at 2014.06.01 -->
    <!--<add key="DbType" value="SQLite" />-->
    <add key="DbType" value="MsSql" />
    <!-- End Copied -->

  </appSettings>
  <connectionStrings>
    <!--To ExinTest database-->
    <add name="ExinConnectionString" connectionString="Data Source=.;Initial Catalog=ExinTest;Integrated Security=True" />
    <add name="ExinTestConnectionString" connectionString="Data Source=.;Initial Catalog=ExinTest;Integrated Security=True" />
    <add name="ExinSQLiteConnectionString" connectionString="data source=#SQLITE_REPO_FULLPATH#" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>