<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RootDir" value="COMES FROM CONFIG TRANSFORM" />
    <add key="FileExtension" value="xml" />
    <add key="MonthlyExpensesFileName" value="Összesen" />
    <add key="MonthlyIncomesFileName" value="Bevételek" />
    <add key="MonthlyExpenseSummariesDir" value="0_Összesen" />
    <add key="MonthlyExpenseStatisticsDir" value="0_Összesen - Kategóriák" />
    
    <add key="ReadMode" value="FromFile" />
    <!--<add key="ReadMode" value="FromDb" />-->
    
    <!--<add key="SaveMode" value="OnlyToFile" />-->
    <add key="SaveMode" value="FileAndDb" />
    
    <add key="DbAccessMode" value="AdoNet" />
    <!--<add key="DbAccessMode" value="EntityFramework" />-->
    
    <!-- Copied from ImportDataToDb project's App.config file at 2014.01.16 -->
    <add key="SolutionName" value="Exin" />
    <add key="ResourcesRelativePath" value="" />
    <add key="UnitResources" value="Units.xml" />
    <add key="CategoryResources" value="Categories.xml" />
    <!-- End Copied -->

    <!-- Copied from WPF project's App.config file at 2014.06.01 -->
    <add key="DbType" value="SQLite" />
    <!--<add key="DbType" value="MsSql" />-->
    <!-- End Copied -->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ExinConnectionString" connectionString="COMES FROM CONFIG TRANSFORM" />
    <add name="ExinSQLiteConnectionString" connectionString="data source=#SQLITE_REPO_FULLPATH#" />
  </connectionStrings>
  <log4net>
    <renderer renderingClass="UtilsLocal.Log.LogRenderer, UtilsLocal" renderedClass="System.Object" />
    <appender name="FileAppender" type="log4net.Appender.FileAppender, log4net">
      <file value="ExinLog.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message %newline&#xD;&#xA;                  Level: %-5level %newline&#xD;&#xA;                  Logger: %logger %newline&#xD;&#xA;                  Date: %date --- Utcdate: %utcdate %newline&#xD;&#xA;                  Timestamp: %timestamp %newline&#xD;&#xA;                  Exception: %exception %newline" />
        <!--        Date: %date %newline
                  Level: %-5level %newline
                  Logger: %logger %newline
                  Message: %message %newline
                  Appdomain: %appdomain %newline
                  Date: %date %newline
                  File: %file %newline
                  Identity: %identity %newline
                  Level: %level %newline
                  Line: %line %newline
                  Location: %location %newline
                  Logger: %logger %newline
                  Method: %method %newline
                  Message: %message %newline
                  Timestamp: %timestamp %newline
                  Type: %type %newline
                  Username: %username %newline
                  Utcdate: %utcdate %newline
                  Exception: %exception %newline"-->
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>