<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Exin_MsSql_AdoNet_ConnStr" connectionString="Data Source=.;Initial Catalog=ExinDeveloper;Integrated Security=True"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="RepoRootDir" value="c:\Norbi\Development\Exin\Solution\Repository\FileRepoDeveloper"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>